page-home {
    .content {
        background-image: url('../../assets/imgs/background.png') !important;
        background-position: center top;
        background-size: cover;
    }
    ion-fab button[ion-fab] {
        margin-top: 20px;
        background-color: transparent;
        color: #06b2a1;
     }
     .fab-md {
         box-shadow: none;
     }
     .fab ion-icon {
         font-size: 4.4rem;
     }
}
